<h3><%= heading %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Method Name</th>
      <th>Line Number</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% method_stats.each do |method_name, color_and_count| %>
      <tr>
        <td>
          <%= color_and_count[:file_name] %>
        </td>
        <td>
          <%= method_name %>
        </td>
        <td>
          <%= color_and_count[:line_no] %>
        </td>
        <td>
          <%= color_and_count[:total_call_count] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>